body{
  background-image:url("night-sky-tonight-hero.jpg");
  background-size: 110vw 110vh;
}

#form{
    background-color: rgb(255, 255, 255);
    width:28%;
    border-radius: 6px;
    margin-top:-300px; 
    margin-bottom:120px;
    margin-left : auto;
    margin-right:300px;
    padding:50px;  
}

input{
    width: 90%;
    border-radius: 4px;
    border: 3px solid #f6efef;
    padding: 5px;
}

#btn{
    width: 100%;
    color:rgb(255, 255, 255);
    background-color:rgb(10, 22, 61);
    padding:10px;
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width: 1350px) {
    #form {
      width: 40%;
      margin-left:none;
      padding:40px;
    }
  }
@media screen and (max-width: 1100px) {
    #form {
      width: 50%;
      margin-left:none;
      padding:40px;
    }
  }
@media screen and (max-width: 700px) {
    #form {
      width: 80%;
      margin-left:none;
      padding:40px;
    }
  }

#log
{ 
  font-family: Arial, Helvetica, sans-serif;
  color : white ;
  margin-left :250px;
  margin-right:auto;
  margin-block-start:300px;
}